---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'a'> & { active?: boolean };

const { class: className, active, ...props } = Astro.props;
---

<a
  {...props}
  class={twMerge(
    'flex items-center px-4 py-2 hover:bg-muted motion-safe:transition-colors',
    'focus-visible:outline-none focus-visible:ring-1',
    active && 'bg-muted',
    className,
  )}
>
  <slot />
</a>
