---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'nav'>;
---

<nav {...Astro.props}>
  <ol class="inline-flex list-none flex-wrap items-center"><slot /></ol>
</nav>
