---
import type { HTMLAttributes } from 'astro/types';
import { Check } from 'lucide-astro';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'li'>;

const { class: className, value, ...props } = Astro.props;
---

<li
  {...props}
  value={value}
  role="option"
  aria-selected="false"
  class={twMerge(
    'group flex cursor-pointer items-center justify-between gap-2',
    'rounded px-2 py-1 aria-selected:bg-primary/10',
    'hover:bg-primary/10 motion-safe:transition-colors',
    'focus:outline-none focus:ring-1',
    className,
  )}
>
  <span class="overflow-hidden truncate"><slot /></span>
  <Check size={14} aria-hidden class="hidden shrink-0 group-aria-selected:block" />
</li>
