---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<script src="../script.ts"></script>

<div
  {...props}
  data-select={crypto.randomUUID()}
  data-open="false"
  class={twMerge('group relative', className)}
>
  <slot />
  <div data-overlay aria-hidden class="fixed inset-0 z-40 group-data-[open=false]:hidden"></div>
</div>
