---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div class="size-max overflow-hidden">
  <div
    {...props}
    id={crypto.randomUUID()}
    data-accordion-slides
    class={twMerge(
      'relative size-full list-none motion-safe:animate-in',
      'motion-safe:transition-transform motion-safe:duration-300',
      className,
    )}
  >
    <slot />
  </div>
</div>
