---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = Omit<HTMLAttributes<'button'>, 'role'> & { value: string; selected?: boolean };

const { class: className, value, selected, ...props } = Astro.props;
---

<button
  {...props}
  role="tab"
  tabindex={`${selected ? 0 : -1}`}
  aria-selected={`${selected ?? false}`}
  data-value={value}
  class={twMerge(
    'relative rounded px-3 py-1 text-muted',
    'after:absolute after:inset-x-0 after:top-full after:h-px',
    'aria-selected:text aria-selected:after:bg-primary',
    'hover:text focus-visible:outline-none focus-visible:ring-1',
    'motion-safe:transition-colors motion-safe:after:transition-colors',

    className,
  )}
>
  <slot />
</button>
