---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = Omit<HTMLAttributes<'div'>, 'role'> & { value: string; selected?: boolean };

const { class: className, value, selected, ...props } = Astro.props;
---

<div
  {...props}
  role="tabpanel"
  tabindex="0"
  aria-hidden={`${!selected}`}
  data-value={value}
  class={twMerge(
    'mt-1 rounded py-3 focus-visible:outline-none focus-visible:ring-1 aria-hidden:hidden',
    className,
  )}
>
  <slot />
</div>
