---
import { type HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import { type Type } from '../script.ts';

type Props = Omit<HTMLAttributes<'div'>, 'role'> & { type?: Type };

const { class: className, type, ...props } = Astro.props;
---

<script src="../script.ts"></script>

<div
  {...props}
  role="group"
  data-toggle-group
  data-type={type ?? 'single'}
  class={twMerge('flex items-center justify-center gap-0.5', className)}
>
  <slot />
</div>
