---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div {...props} class={twMerge('flex items-center justify-end gap-4 px-6 pb-4', className)}>
  <slot name="dialog-close" />
</div>
