---
import Avatar from '@/components/ui/avatar.astro';
import Badge from '@/components/ui/badge.astro';
import Button from '@/components/ui/button.astro';
import Checkbox from '@/components/ui/checkbox.astro';
import * as Dialog from '@/components/ui/dialog';
import Input from '@/components/ui/input.astro';
import Label from '@/components/ui/label.astro';
import Progress from '@/components/ui/progress.astro';
import RadialProgress from '@/components/ui/radial-progress.astro';
import Radio from '@/components/ui/radio.astro';
import Separator from '@/components/ui/separator.astro';
import Switch from '@/components/ui/switch.astro';
import Textarea from '@/components/ui/textarea.astro';
import Layout from '@/layouts/index.astro';
import { Bell, Check, Folder, Heart, Image, Loader, Mail, Power, Trash } from 'lucide-astro';
---

<Layout>
  <div class="mx-auto mt-24 grid max-w-screen-xl grid-cols-[auto_1fr] items-start gap-40">
    <div class="sticky top-24 rounded border px-6 py-4">
      <h1 class="font-semibold tracking-widest">COMPONENTS</h1>
      <Separator class="mb-6 mt-2" />
      <ul class="flex flex-col gap-1">
        <Label><Checkbox /> Accordion</Label>
        <Label><Checkbox /> Alert Dialog</Label>
        <Label><Checkbox checked disabled /> Avatar</Label>
        <Label><Checkbox checked disabled /> Badge</Label>
        <Label><Checkbox checked disabled /> Button</Label>
        <Label><Checkbox /> Card</Label>
        <Label><Checkbox checked disabled /> Checkbox</Label>
        <Label><Checkbox checked disabled /> Dialog</Label>
        <Label><Checkbox /> Dropdown Menu</Label>
        <Label><Checkbox checked disabled /> Input</Label>
        <Label><Checkbox checked disabled /> Label</Label>
        <Label><Checkbox /> Menubar</Label>
        <Label><Checkbox /> Navigation Menu</Label>
        <Label><Checkbox /> Popover</Label>
        <Label><Checkbox checked disabled /> Progress</Label>
        <Label><Checkbox /> Radial Progress</Label>
        <Label><Checkbox checked disabled /> Radio Group</Label>
        <Label><Checkbox /> Select</Label>
        <Label><Checkbox checked disabled /> Separator</Label>
        <Label><Checkbox /> Sheet</Label>
        <Label><Checkbox /> Skeleton</Label>
        <Label><Checkbox /> Slider</Label>
        <Label><Checkbox checked disabled /> Switch</Label>
        <Label><Checkbox /> Tabs</Label>
        <Label><Checkbox /> Table</Label>
        <Label><Checkbox /> Textarea</Label>
        <Label><Checkbox /> Toast</Label>
        <Label><Checkbox /> Toggle Group</Label>
        <Label><Checkbox /> Tooltip</Label>
      </ul>
    </div>
    <div class="flex flex-col gap-20">
      <section><!-- Accordion --></section>
      <section><!-- Alert Dialog --></section>
      <section class="flex flex-col gap-4">
        <div class="flex items-center gap-6">
          <Avatar src="/src/assets/astro.png" alt="CP" size="sm" />
          <Avatar src="/src/assets/astro.png" alt="CP" size="md" />
          <Avatar src="/src/assets/astro.png" alt="CP" size="lg" />
        </div>
        <div class="flex items-center gap-6">
          <Avatar alt="CP" size="sm" />
          <Avatar alt="CP" size="md" />
          <Avatar alt="CP" size="lg" />
        </div>
      </section>
      <section class="flex flex-col gap-6">
        <div class="flex flex-wrap items-center gap-4">
          <Badge color="primary">Badge</Badge>
          <Badge color="secondary">Badge</Badge>
          <Badge color="outline">Badge</Badge>
          <Badge color="danger">Badge</Badge>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Badge color="outline"><Check size={12} class="mr-1" /> Licensed</Badge>
          <Badge>99+</Badge>
        </div>
      </section>
      <section class="flex flex-col gap-6">
        <div class="flex flex-wrap items-center gap-4">
          <Button color="primary">Button</Button>
          <Button color="secondary">Button</Button>
          <Button color="outline">Button</Button>
          <Button color="ghost">Button</Button>
          <Button color="danger">Button</Button>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Button size="sm">Button</Button>
          <Button size="md">Button</Button>
          <Button size="lg">Button</Button>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Button color="primary" size="icon" aria-label="Heart"><Heart /></Button>
          <Button color="secondary" size="icon" aria-label="Bell"><Bell /></Button>
          <Button color="outline" size="icon" aria-label="Folder"><Folder /></Button>
          <Button color="ghost" size="icon" aria-label="Power"><Power /></Button>
          <Button color="danger" size="icon" aria-label="Trash"><Trash /></Button>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Button><Mail size={16} class="mr-2" /> Login with email</Button>
          <Button disabled><Loader size={16} class="mr-2 animate-spin" /> Loading</Button>
        </div>
      </section>
      <section><!-- Card --></section>
      <section><!-- Checkbox --></section>
      <section>
        <Dialog.Root>
          <Button slot="dialog-trigger">Edit Profile</Button>
          <Dialog.Header>
            <Dialog.Title>Edit Profile</Dialog.Title>
            <Dialog.Description>
              Make changes to your profile here. Click save when you're done.
            </Dialog.Description>
          </Dialog.Header>
          <Dialog.Body>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, modi nihil eius
            quaerat sapiente laboriosam veritatis a quisquam non velit repudiandae. Nisi id
            perferendis excepturi ipsa exercitationem labore veritatis at.
          </Dialog.Body>
          <Dialog.Footer>
            <Button slot="dialog-close" size="sm" color="outline">Cancel</Button>
            <Button slot="dialog-close" size="sm" value="true">Save</Button>
          </Dialog.Footer>
        </Dialog.Root>
      </section>
      <section><!-- Dropdown Menu --></section>
      <section class="flex w-80 flex-col gap-6">
        <Input placeholder="Enter your name..." />
        <Input disabled placeholder="Enter your name..." />
        <Input type="file"><Image size={14} slot="prefix" /></Input>
        <Input placeholder="Enter current weight..."><span slot="suffix">kg</span></Input>
      </section>
      <section><!-- Label --></section>
      <section><!-- Menubar --></section>
      <section><!-- Navigation Menu --></section>
      <section><!-- Popover --></section>
      <section class="flex gap-8">
        <RadialProgress value={0} />
        <RadialProgress value={20} />
        <RadialProgress value={60} />
        <RadialProgress value={80} />
        <RadialProgress value={100} />
      </section>
      <section class="w-80">
        <Progress value="40" max="100" />
      </section>
      <section class="flex flex-col gap-8">
        <fieldset class="flex gap-4">
          <Label><Radio name="fruit-horizontal" /> Apple</Label>
          <Label><Radio name="fruit-horizontal" /> Banana</Label>
          <Label><Radio name="fruit-horizontal" /> Orange</Label>
        </fieldset>
        <fieldset class="flex flex-col gap-1">
          <Label><Radio name="fruit-vertical" /> Apple</Label>
          <Label><Radio name="fruit-vertical" /> Banana</Label>
          <Label><Radio name="fruit-vertical" /> Orange</Label>
        </fieldset>
      </section>
      <section><!-- Select --></section>
      <section><!-- Separator --></section>
      <section><!-- Sheet --></section>
      <section><!-- Skeleton --></section>
      <section><!-- Slider --></section>
      <section>
        <Label><Switch /> Airplane mode</Label>
      </section>
      <section><!-- Tabs --></section>
      <section><!-- Table --></section>
      <section class="flex w-80 flex-col gap-6">
        <Textarea placeholder="Describe your favorite fruit..." />
        <Textarea placeholder="Describe your favorite fruit..." disabled />
      </section>
      <section><!-- Toast --></section>
      <section><!-- Toggle Group --></section>
      <section><!-- Tooltip --></section>
    </div>
  </div>
</Layout>
