---
import Badge from '@/components/ui/badge.astro';
import Button from '@/components/ui/button.astro';
import Checkbox from '@/components/ui/checkbox.astro';
import Label from '@/components/ui/label.astro';
import Radio from '@/components/ui/radio.astro';
import Separator from '@/components/ui/separator.astro';
import Switch from '@/components/ui/switch.astro';
import Layout from '@/layouts/index.astro';
import { Bell, Check, Folder, Heart, Loader, Mail, Power, Trash } from 'lucide-astro';
---

<Layout>
  <div class="mx-auto mt-24 grid max-w-screen-xl grid-cols-[auto_1fr] items-start gap-40">
    <div class="sticky top-24 rounded border px-6 py-4">
      <h1 class="font-semibold tracking-widest">COMPONENTS</h1>
      <Separator class="mb-6 mt-2" />
      <ul class="flex flex-col gap-1">
        <Label><Checkbox /> Accordion</Label>
        <Label><Checkbox /> Alert Dialog</Label>
        <Label><Checkbox /> Avatar</Label>
        <Label><Checkbox /> Badge</Label>
        <Label><Checkbox checked disabled /> Button</Label>
        <Label><Checkbox /> Card</Label>
        <Label><Checkbox checked disabled /> Checkbox</Label>
        <Label><Checkbox /> Dialog</Label>
        <Label><Checkbox /> Dropdown Menu</Label>
        <Label><Checkbox /> Input</Label>
        <Label><Checkbox checked disabled /> Label</Label>
        <Label><Checkbox /> Menubar</Label>
        <Label><Checkbox /> Navigation Menu</Label>
        <Label><Checkbox /> Popover</Label>
        <Label><Checkbox /> Progress</Label>
        <Label><Checkbox checked disabled /> Radio Group</Label>
        <Label><Checkbox /> Select</Label>
        <Label><Checkbox checked disabled /> Separator</Label>
        <Label><Checkbox /> Sheet</Label>
        <Label><Checkbox /> Skeleton</Label>
        <Label><Checkbox /> Slider</Label>
        <Label><Checkbox checked disabled /> Switch</Label>
        <Label><Checkbox /> Tabs</Label>
        <Label><Checkbox /> Table</Label>
        <Label><Checkbox /> Textarea</Label>
        <Label><Checkbox /> Toast</Label>
        <Label><Checkbox /> Toggle Group</Label>
        <Label><Checkbox /> Tooltip</Label>
      </ul>
    </div>
    <div class="flex flex-col gap-20">
      <section><!-- Accordion --></section>
      <section><!-- Alert Dialog --></section>
      <section><!-- Avatar --></section>
      <section class="flex flex-col gap-6">
        <div class="flex flex-wrap items-center gap-4">
          <Badge color="primary">Badge</Badge>
          <Badge color="secondary">Badge</Badge>
          <Badge color="outline">Badge</Badge>
          <Badge color="danger">Badge</Badge>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Badge color="outline"><Check size={12} class="mr-1" /> Licensed</Badge>
          <Badge>99+</Badge>
        </div>
      </section>
      <section class="flex flex-col gap-6">
        <div class="flex flex-wrap items-center gap-4">
          <Button color="primary">Button</Button>
          <Button color="secondary">Button</Button>
          <Button color="outline">Button</Button>
          <Button color="ghost">Button</Button>
          <Button color="danger">Button</Button>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Button size="sm">Button</Button>
          <Button size="md">Button</Button>
          <Button size="lg">Button</Button>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Button color="primary" size="icon" aria-label="Heart"><Heart /></Button>
          <Button color="secondary" size="icon" aria-label="Bell"><Bell /></Button>
          <Button color="outline" size="icon" aria-label="Folder"><Folder /></Button>
          <Button color="ghost" size="icon" aria-label="Power"><Power /></Button>
          <Button color="danger" size="icon" aria-label="Trash"><Trash /></Button>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Button><Mail size={16} class="mr-2" /> Login with email</Button>
          <Button disabled><Loader size={16} class="mr-2 animate-spin" /> Loading</Button>
        </div>
      </section>
      <section><!-- Card --></section>
      <section><!-- Checkbox --></section>
      <section><!-- Dialog --></section>
      <section><!-- Dropdown Menu --></section>
      <section><!-- Input --></section>
      <section><!-- Label --></section>
      <section><!-- Menubar --></section>
      <section><!-- Navigation Menu --></section>
      <section><!-- Popover --></section>
      <section><!-- Progress --></section>
      <section class="flex flex-col gap-8">
        <fieldset class="flex gap-4">
          <Label><Radio name="fruit-horizontal" /> Apple</Label>
          <Label><Radio name="fruit-horizontal" /> Banana</Label>
          <Label><Radio name="fruit-horizontal" /> Orange</Label>
        </fieldset>
        <fieldset class="flex flex-col gap-1">
          <Label><Radio name="fruit-vertical" /> Apple</Label>
          <Label><Radio name="fruit-vertical" /> Banana</Label>
          <Label><Radio name="fruit-vertical" /> Orange</Label>
        </fieldset>
      </section>
      <section><!-- Select --></section>
      <section><!-- Separator --></section>
      <section><!-- Sheet --></section>
      <section><!-- Skeleton --></section>
      <section><!-- Slider --></section>
      <section>
        <Label><Switch /> Airplane mode</Label>
      </section>
      <section><!-- Tabs --></section>
      <section><!-- Table --></section>
      <section><!-- Textarea --></section>
      <section><!-- Toast --></section>
      <section><!-- Toggle Group --></section>
      <section><!-- Tooltip --></section>
    </div>
  </div>
</Layout>
