---
import * as Accordion from '@/components/ui/accordion';
import * as AlertDialog from '@/components/ui/alert-dialog';
import Avatar from '@/components/ui/avatar.astro';
import Badge from '@/components/ui/badge.astro';
import * as Breadcrumbs from '@/components/ui/breadcrumbs';
import Button from '@/components/ui/button.astro';
import * as Carousel from '@/components/ui/carousel';
import Checkbox from '@/components/ui/checkbox.astro';
import * as Collapsible from '@/components/ui/collapsible';
import * as Dialog from '@/components/ui/dialog';
import * as Drawer from '@/components/ui/drawer';
import Input from '@/components/ui/input.astro';
import Label from '@/components/ui/label.astro';
import * as NavigationMenu from '@/components/ui/navigation-menu';
import * as Pagination from '@/components/ui/pagination';
import * as Popover from '@/components/ui/popover';
import Progress from '@/components/ui/progress.astro';
import RadialProgress from '@/components/ui/radial-progress.astro';
import Radio from '@/components/ui/radio.astro';
import Separator from '@/components/ui/separator.astro';
import Skeleton from '@/components/ui/skeleton.astro';
import Switch from '@/components/ui/switch.astro';
import * as Table from '@/components/ui/table';
import * as Tabs from '@/components/ui/tabs';
import Textarea from '@/components/ui/textarea.astro';
import * as Toast from '@/components/ui/toast';
import Tooltip from '@/components/ui/tooltip.astro';
import Layout from '@/layouts/index.astro';
import {
  Archive,
  ArrowDown,
  ArrowUp,
  BadgeAlert,
  Bell,
  Check,
  Facebook,
  Folder,
  Heart,
  Home,
  Image,
  Inbox,
  Instagram,
  Loader,
  LogOut,
  Mail,
  Menu,
  Power,
  Send,
  Settings,
  Settings2,
  Tag,
  Trash,
  Twitter,
  User,
  Youtube,
} from 'lucide-astro';
---

<Layout>
  <div class="mx-auto my-24 grid max-w-screen-xl grid-cols-[auto_1fr] items-start gap-40">
    <div class="sticky top-24 rounded border px-6 py-4">
      <h1 class="font-semibold tracking-widest">COMPONENTS</h1>
      <Separator class="mb-6 mt-2" />
      <ul class="flex flex-col gap-1">
        <Label><Checkbox checked disabled /> Accordion</Label>
        <Label><Checkbox checked disabled /> Alert Dialog</Label>
        <Label><Checkbox checked disabled /> Avatar</Label>
        <Label><Checkbox checked disabled /> Badge</Label>
        <Label><Checkbox checked disabled /> Breadcrumbs</Label>
        <Label><Checkbox checked disabled /> Button</Label>
        <Label><Checkbox checked disabled /> Carousel</Label>
        <Label><Checkbox checked disabled /> Checkbox</Label>
        <Label><Checkbox checked disabled /> Collapsible</Label>
        <Label><Checkbox /> Date Picker</Label>
        <Label><Checkbox checked disabled /> Dialog</Label>
        <Label><Checkbox checked disabled /> Drawer</Label>
        <Label><Checkbox /> Dropdown Menu</Label>
        <Label><Checkbox /> Fieldset</Label>
        <Label><Checkbox checked disabled /> Input</Label>
        <Label><Checkbox checked disabled /> Label</Label>
        <Label><Checkbox /> Menubar</Label>
        <Label><Checkbox checked disabled /> Navigation Menu</Label>
        <Label><Checkbox checked disabled /> Pagination</Label>
        <Label><Checkbox checked disabled /> Popover</Label>
        <Label><Checkbox checked disabled /> Progress</Label>
        <Label><Checkbox checked disabled /> Radial Progress</Label>
        <Label><Checkbox checked disabled /> Radio Group</Label>
        <Label><Checkbox /> Select</Label>
        <Label><Checkbox checked disabled /> Separator</Label>
        <Label><Checkbox checked disabled /> Skeleton</Label>
        <Label><Checkbox /> Slider</Label>
        <Label><Checkbox checked disabled /> Switch</Label>
        <Label><Checkbox checked disabled /> Tabs</Label>
        <Label><Checkbox checked disabled /> Table</Label>
        <Label><Checkbox checked disabled /> Textarea</Label>
        <Label><Checkbox /> Toast</Label>
        <Label><Checkbox /> Toggle Group</Label>
        <Label><Checkbox /> Tooltip</Label>
      </ul>
    </div>
    <div class="flex flex-col gap-20">
      <section class="w-[60ch]">
        <Accordion.Root type="single">
          <Accordion.Trigger for="1">How does the free trial work?</Accordion.Trigger>
          <Accordion.Content value="1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis modi temporibus
            repellendus corrupti delectus ex molestias facere cumque in consectetur? Dolorem quam
            nam explicabo minima, voluptas tempore enim. Magni, molestiae.
          </Accordion.Content>
          <Accordion.Trigger for="2">How does adding and removing users work?</Accordion.Trigger>
          <Accordion.Content value="2">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis expedita omnis
            repellat, similique aspernatur enim ipsa id adipisci porro quae et unde ut laborum sit,
            perferendis odit earum debitis assumenda.
          </Accordion.Content>
          <Accordion.Trigger for="3">Can I cancel my account?</Accordion.Trigger>
          <Accordion.Content value="3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dignissimos cupiditate quia
            odit distinctio unde perferendis. Vel nam maxime id, pariatur excepturi aliquam at
            repudiandae unde iste? Totam, minus consectetur?
          </Accordion.Content>
          <Accordion.Trigger for="4">What are my payment options?</Accordion.Trigger>
          <Accordion.Content value="4">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates debitis itaque
            possimus fuga ipsum mollitia molestias sunt, officia aut ad consequuntur, excepturi,
            assumenda sint reiciendis laboriosam cupiditate minima? Repellendus, eveniet.
          </Accordion.Content>
        </Accordion.Root>
      </section>
      <section>
        <AlertDialog.Root>
          <Button slot="alert-dialog-trigger">Delete account</Button>
          <AlertDialog.Title>Are you absolutely sure?</AlertDialog.Title>
          <AlertDialog.Description>
            This action cannot be undone. This will permanently delete your account and remove your
            data from our servers.
          </AlertDialog.Description>
          <AlertDialog.Footer>
            <Button slot="alert-dialog-close" color="outline">Cancel</Button>
            <Button slot="alert-dialog-close">Yes, delete account</Button>
          </AlertDialog.Footer>
        </AlertDialog.Root>
      </section>
      <section class="flex flex-col gap-4">
        <div class="flex items-center gap-6">
          <Avatar src="/src/assets/astro.png" alt="CP" size="sm" />
          <Avatar src="/src/assets/astro.png" alt="CP" size="md" />
          <Avatar src="/src/assets/astro.png" alt="CP" size="lg" />
        </div>
        <div class="flex items-center gap-6">
          <Avatar alt="CP" size="sm" />
          <Avatar alt="CP" size="md" />
          <Avatar alt="CP" size="lg" />
        </div>
      </section>
      <section class="flex flex-col gap-6">
        <div class="flex flex-wrap items-center gap-4">
          <Badge color="primary">Badge</Badge>
          <Badge color="secondary">Badge</Badge>
          <Badge color="outline">Badge</Badge>
          <Badge color="danger">Badge</Badge>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Badge color="outline"><Check size={12} class="mr-1" /> Licensed</Badge>
          <Badge>99+</Badge>
        </div>
      </section>
      <section>
        <Breadcrumbs.Root>
          <Breadcrumbs.Item href="/-"><Home size={16} /></Breadcrumbs.Item>
          <Breadcrumbs.Item href="/-">Products</Breadcrumbs.Item>
          <Breadcrumbs.Item href="/-">Shoes</Breadcrumbs.Item>
          <Breadcrumbs.Item href="/">Running Shoes</Breadcrumbs.Item>
        </Breadcrumbs.Root>
      </section>
      <section class="flex flex-col gap-6">
        <div class="flex flex-wrap items-center gap-4">
          <Button color="primary">Button</Button>
          <Button color="secondary">Button</Button>
          <Button color="outline">Button</Button>
          <Button color="ghost">Button</Button>
          <Button color="danger">Button</Button>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Button size="sm">Button</Button>
          <Button size="md">Button</Button>
          <Button size="lg">Button</Button>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Button color="primary" size="icon" aria-label="Heart"><Heart /></Button>
          <Button color="secondary" size="icon" aria-label="Bell"><Bell /></Button>
          <Button color="outline" size="icon" aria-label="Folder"><Folder /></Button>
          <Button color="ghost" size="icon" aria-label="Power"><Power /></Button>
          <Button color="danger" size="icon" aria-label="Trash"><Trash /></Button>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <Button><Mail size={16} class="mr-2" /> Login with email</Button>
          <Button disabled><Loader size={16} class="mr-2 animate-spin" /> Loading</Button>
        </div>
      </section>
      <section class="flex max-w-max flex-col items-center gap-16">
        <Carousel.Root orientation="horizontal">
          <Carousel.Previous />
          <Carousel.Slides class="h-32 w-96 text-lg">
            <Carousel.Slide class="flex items-center justify-center bg-muted">1</Carousel.Slide>
            <Carousel.Slide class="flex items-center justify-center bg-muted">2</Carousel.Slide>
            <Carousel.Slide class="flex items-center justify-center bg-muted">3</Carousel.Slide>
            <Carousel.Slide class="flex items-center justify-center bg-muted">4</Carousel.Slide>
            <Carousel.Slide class="flex items-center justify-center bg-muted">5</Carousel.Slide>
          </Carousel.Slides>
          <Carousel.Next />
        </Carousel.Root>
        <Carousel.Root orientation="vertical" loop>
          <Carousel.Previous />
          <Carousel.Slides class="h-48 w-96 text-lg">
            <Carousel.Slide class="flex items-center justify-center bg-muted">1</Carousel.Slide>
            <Carousel.Slide class="flex items-center justify-center bg-muted">2</Carousel.Slide>
            <Carousel.Slide class="flex items-center justify-center bg-muted">3</Carousel.Slide>
            <Carousel.Slide class="flex items-center justify-center bg-muted">4</Carousel.Slide>
            <Carousel.Slide class="flex items-center justify-center bg-muted">5</Carousel.Slide>
          </Carousel.Slides>
          <Carousel.Next />
        </Carousel.Root>
      </section>
      <section class="flex w-[500px] flex-col gap-10">
        <div class="flex gap-10">
          <Collapsible.Root direction="bottom">
            <Button slot="collapsible-trigger" color="ghost" class="gap-3">
              <Separator class="shrink" />Show Details<Separator class="shrink" />
            </Button>
            <Collapsible.Content>
              <p class="mt-4 text-pretty">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam officia alias
                voluptatibus repudiandae error itaque asperiores voluptas! Ducimus, provident!
                Perspiciatis ducimus sequi asperiores sapiente unde illum nulla non blanditiis
                magnam!
              </p>
            </Collapsible.Content>
          </Collapsible.Root>
          <Collapsible.Root direction="top">
            <Button slot="collapsible-trigger" color="ghost" class="gap-3">
              <Separator class="shrink" />Show Details<Separator class="shrink" />
            </Button>
            <Collapsible.Content>
              <p class="mb-4 text-pretty">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam officia alias
                voluptatibus repudiandae error itaque asperiores voluptas! Ducimus, provident!
                Perspiciatis ducimus sequi asperiores sapiente unde illum nulla non blanditiis
                magnam!
              </p>
            </Collapsible.Content>
          </Collapsible.Root>
        </div>
      </section>
      <section><!-- Date Picker --></section>
      <section>
        <Dialog.Root>
          <Button slot="dialog-trigger">Edit Profile</Button>
          <Dialog.Header>
            <Dialog.Title>Edit Profile</Dialog.Title>
            <Dialog.Description>
              Make changes to your profile here. Click save when you're done.
            </Dialog.Description>
          </Dialog.Header>
          <Dialog.Body>
            <form class="flex flex-col gap-4">
              <div class="flex items-center gap-4">
                <Label for="dialog-first-name">First Name:</Label>
                <Input id="dialog-first-name" placeholder="Enter first name..." class="flex-1" />
              </div>
              <div class="flex items-center gap-4">
                <Label for="dialog-last-name">Last Name:</Label>
                <Input id="dialog-last-name" placeholder="Enter last name..." class="flex-1" />
              </div>
            </form>
          </Dialog.Body>
          <Dialog.Footer>
            <Button slot="dialog-close" color="outline">Cancel</Button>
            <Button slot="dialog-close">Save Changes</Button>
          </Dialog.Footer>
        </Dialog.Root>
      </section>
      <section class="flex gap-8">
        <Drawer.Root position="left">
          <Button slot="drawer-trigger" color="outline" size="icon"><Menu /></Button>
          <Drawer.Header class="border-b">
            <Avatar src="/src/assets/astro.png" alt="BS" size="lg" class="mb-4" />
            <Drawer.Title>Bob Smith</Drawer.Title>
            <Drawer.Description>bob_smith88@gmail.com</Drawer.Description>
          </Drawer.Header>
          <Drawer.Section class="border-b">
            <Drawer.Link href="/" active><Inbox size={18} class="mr-4" />Inbox</Drawer.Link>
            <Drawer.Link href="/"><Send size={18} class="mr-4" />Outbox</Drawer.Link>
            <Drawer.Link href="/"><Heart size={18} class="mr-4" />Favorites</Drawer.Link>
            <Drawer.Link href="/"><Archive size={18} class="mr-4" />Archive</Drawer.Link>
            <Drawer.Link href="/"><Trash size={18} class="mr-4" />Trash</Drawer.Link>
            <Drawer.Link href="/"><BadgeAlert size={18} class="mr-4" />Spam</Drawer.Link>
          </Drawer.Section>
          <Drawer.Section>
            <Drawer.SectionTitle>Labels</Drawer.SectionTitle>
            <Drawer.Link href="/"><Tag size={18} class="mr-4" />Family</Drawer.Link>
            <Drawer.Link href="/"><Tag size={18} class="mr-4" />Friends</Drawer.Link>
            <Drawer.Link href="/"><Tag size={18} class="mr-4" />Work</Drawer.Link>
          </Drawer.Section>
          <Drawer.Section class="mt-auto">
            <Drawer.Link href="/"><Settings size={18} class="mr-4" />Settings</Drawer.Link>
            <Drawer.Link href="/"><User size={18} class="mr-4" />Account</Drawer.Link>
            <Drawer.Link href="/"><LogOut size={18} class="mr-4" />Logout</Drawer.Link>
          </Drawer.Section>
        </Drawer.Root>
      </section>
      <section><!-- Dropdown Menu --></section>
      <section><!-- Fieldset --></section>
      <section class="flex w-80 flex-col gap-6">
        <Input placeholder="Enter your name..." />
        <Input disabled placeholder="Enter your name..." />
        <Input type="file"><Image size={14} slot="prefix" /></Input>
        <Input placeholder="Enter current weight..."><span slot="suffix">kg</span></Input>
      </section>
      <section><!-- Menubar --></section>
      <section>
        <NavigationMenu.Root>
          <NavigationMenu.Dropdown>
            <NavigationMenu.DropdownTrigger>Getting Started</NavigationMenu.DropdownTrigger>
            <NavigationMenu.DropdownLinks>
              <NavigationMenu.Link href="/">
                <NavigationMenu.LinkTitle>Introduction</NavigationMenu.LinkTitle>
                <NavigationMenu.LinkDescription>
                  Re-usable components built using Radix UI and Tailwind CSS.
                </NavigationMenu.LinkDescription>
              </NavigationMenu.Link>
              <NavigationMenu.Link href="/">
                <NavigationMenu.LinkTitle>Installation</NavigationMenu.LinkTitle>
                <NavigationMenu.LinkDescription>
                  How to install dependencies and structure your app.
                </NavigationMenu.LinkDescription>
              </NavigationMenu.Link>
              <NavigationMenu.Link href="/">
                <NavigationMenu.LinkTitle>Typography</NavigationMenu.LinkTitle>
                <NavigationMenu.LinkDescription>
                  Styles for headings, paragraphs, lists...etc.
                </NavigationMenu.LinkDescription>
              </NavigationMenu.Link>
            </NavigationMenu.DropdownLinks>
          </NavigationMenu.Dropdown>
          <NavigationMenu.Dropdown>
            <NavigationMenu.DropdownTrigger>Components</NavigationMenu.DropdownTrigger>
            <NavigationMenu.DropdownLinks>
              <NavigationMenu.Link href="/">
                <NavigationMenu.LinkTitle>Alert Dialog</NavigationMenu.LinkTitle>
                <NavigationMenu.LinkDescription>
                  A modal dialog that interrupts the user with important content and expects a
                  response.
                </NavigationMenu.LinkDescription>
              </NavigationMenu.Link>
              <NavigationMenu.Link href="/">
                <NavigationMenu.LinkTitle>Hover Card</NavigationMenu.LinkTitle>
                <NavigationMenu.LinkDescription>
                  For sighted users to preview content available behind a link.
                </NavigationMenu.LinkDescription>
              </NavigationMenu.Link>
              <NavigationMenu.Link href="/">
                <NavigationMenu.LinkTitle>Progress</NavigationMenu.LinkTitle>
                <NavigationMenu.LinkDescription>
                  Displays an indicator showing the completion progress of a task, typically
                  displayed as a progress bar.
                </NavigationMenu.LinkDescription>
              </NavigationMenu.Link>
            </NavigationMenu.DropdownLinks>
          </NavigationMenu.Dropdown>
          <NavigationMenu.Link href="/">Documentation</NavigationMenu.Link>
        </NavigationMenu.Root>
      </section>
      <section class="flex flex-col gap-10">
        <Pagination.Root type="default">
          <Pagination.Previous href="#" />
          <Pagination.Link href="#">1</Pagination.Link>
          <Pagination.Link href="#">2</Pagination.Link>
          <Pagination.Link href="/">3</Pagination.Link>
          <Pagination.Link href="#">4</Pagination.Link>
          <Pagination.Ellipsis />
          <Pagination.Link href="#">65</Pagination.Link>
          <Pagination.Link href="#">66</Pagination.Link>
          <Pagination.Next href="#" />
        </Pagination.Root>
        <Pagination.Root type="icons">
          <Pagination.Start href="#" />
          <Pagination.Previous href="#" />
          <Pagination.Link href="/">1</Pagination.Link>
          <Pagination.Link href="#">2</Pagination.Link>
          <Pagination.Link href="#">3</Pagination.Link>
          <Pagination.Link href="#">4</Pagination.Link>
          <Pagination.Ellipsis />
          <Pagination.Next href="#" />
          <Pagination.End href="#" />
        </Pagination.Root>
      </section>
      <section>
        <Popover.Root>
          <Button size="icon" slot="popover-trigger"><Settings2 size={14} /></Button>
          <Popover.Header>
            <Popover.Title>Dimensions</Popover.Title>
            <Popover.Description>Set the width and height of element.</Popover.Description>
          </Popover.Header>
          <Popover.Content class="flex flex-col gap-4 text-xs [&_input]:w-48">
            <div class="flex items-center justify-between">
              <Label>Width</Label><Input value="100%" autofocus />
            </div>
            <div class="flex items-center justify-between">
              <Label>Max Width</Label><Input value="300px" />
            </div>
            <div class="flex items-center justify-between">
              <Label>Height</Label><Input value="25px" />
            </div>
            <div class="flex items-center justify-between">
              <Label>Max Height</Label><Input value="none" />
            </div>
          </Popover.Content>
        </Popover.Root>
      </section>
      <section class="flex items-end gap-6">
        <RadialProgress size="sm" value={0} />
        <RadialProgress size="sm" value={20} />
        <RadialProgress size="md" value={40} />
        <RadialProgress size="md" value={60} />
        <RadialProgress size="lg" value={80} />
        <RadialProgress size="lg" value={100} />
      </section>
      <section class="w-80">
        <Progress value="40" max="100" />
      </section>
      <section class="flex flex-col gap-8">
        <fieldset class="flex gap-4">
          <Label><Radio name="fruit-horizontal" /> Apple</Label>
          <Label><Radio name="fruit-horizontal" /> Banana</Label>
          <Label><Radio name="fruit-horizontal" /> Orange</Label>
        </fieldset>
        <fieldset class="flex flex-col gap-1">
          <Label><Radio name="fruit-vertical" /> Apple</Label>
          <Label><Radio name="fruit-vertical" /> Banana</Label>
          <Label><Radio name="fruit-vertical" /> Orange</Label>
        </fieldset>
      </section>
      <section><!-- Select --></section>
      <section><!-- Separator --></section>
      <section class="flex items-center gap-4">
        <Skeleton class="size-12 rounded-full" />
        <div class="flex flex-col gap-2">
          <Skeleton class="size-4 w-64" />
          <Skeleton class="size-4 w-64" />
        </div>
      </section>
      <section><!-- Slider --></section>
      <section>
        <Label><Switch /> Airplane mode</Label>
      </section>
      <section class="w-[500px]">
        <Tabs.Root>
          <Tabs.TabList>
            <Tabs.Tab value="orange" selected>Orange</Tabs.Tab>
            <Tabs.Tab value="apple">Apple</Tabs.Tab>
            <Tabs.Tab value="banana">Banana</Tabs.Tab>
          </Tabs.TabList>
          <Tabs.TabPanel value="orange" selected>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo fugit ab vitae ad est
            sequi incidunt, quisquam laborum atque aliquam esse dolorem quaerat deserunt delectus,
            totam sint amet aspernatur! Eos.
          </Tabs.TabPanel>
          <Tabs.TabPanel value="apple">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloribus atque
            repellendus ex velit, iusto quo fugit doloremque. Beatae culpa ut rem sunt nobis
            pariatur dolores. Iure voluptatum ullam repudiandae!
          </Tabs.TabPanel>
          <Tabs.TabPanel value="banana">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deleniti necessitatibus
            sint placeat aliquam rerum cupiditate commodi excepturi fugiat, est sed delectus eos
            quas praesentium explicabo suscipit alias voluptate fuga.
          </Tabs.TabPanel>
        </Tabs.Root>
      </section>
      <section class="w-4/5">
        <Table.Root color="zebra">
          <Table.Caption>A list of fruits and their quantity/value.</Table.Caption>
          <Table.Header>
            <Table.Row>
              <Table.Head><Checkbox /></Table.Head>
              <Table.Head>Fruit Name</Table.Head>
              <Table.Head>Quantity in Stock</Table.Head>
              <Table.Head>Unit Price (per kg)</Table.Head>
              <Table.Head class="text-right">Total Value</Table.Head>
            </Table.Row>
          </Table.Header>
          <Table.Body>
            <Table.Row>
              <Table.Head><Checkbox /></Table.Head>
              <Table.Cell>Apple</Table.Cell>
              <Table.Cell class="flex items-center gap-2"><ArrowUp size={12} />100</Table.Cell>
              <Table.Cell>$2.00</Table.Cell>
              <Table.Cell class="text-right">$200.00</Table.Cell>
            </Table.Row>
            <Table.Row>
              <Table.Head><Checkbox /></Table.Head>
              <Table.Cell>Banana</Table.Cell>
              <Table.Cell class="flex items-center gap-2"><ArrowUp size={12} />150</Table.Cell>
              <Table.Cell>$1.50</Table.Cell>
              <Table.Cell class="text-right">$225.00</Table.Cell>
            </Table.Row>
            <Table.Row>
              <Table.Head><Checkbox /></Table.Head>
              <Table.Cell>Orange</Table.Cell>
              <Table.Cell class="flex items-center gap-2"><ArrowDown size={12} />80</Table.Cell>
              <Table.Cell>$2.50</Table.Cell>
              <Table.Cell class="text-right">$200.00</Table.Cell>
            </Table.Row>
            <Table.Row>
              <Table.Head><Checkbox /></Table.Head>
              <Table.Cell>Mango</Table.Cell>
              <Table.Cell class="flex items-center gap-2"><ArrowDown size={12} />50</Table.Cell>
              <Table.Cell>$3.00</Table.Cell>
              <Table.Cell class="text-right">$150.00</Table.Cell>
            </Table.Row>
            <Table.Row>
              <Table.Head><Checkbox /></Table.Head>
              <Table.Cell>Strawberry</Table.Cell>
              <Table.Cell class="flex items-center gap-2"><ArrowUp size={12} />200</Table.Cell>
              <Table.Cell>$4.50</Table.Cell>
              <Table.Cell class="text-right">$900.00</Table.Cell>
            </Table.Row>
            <Table.Row>
              <Table.Head><Checkbox /></Table.Head>
              <Table.Cell>Pineapple</Table.Cell>
              <Table.Cell class="flex items-center gap-2"><ArrowDown size={12} />70</Table.Cell>
              <Table.Cell>$2.75</Table.Cell>
              <Table.Cell class="text-right">$192.50</Table.Cell>
            </Table.Row>
          </Table.Body>
          <Table.Footer>
            <Table.Row>
              <Table.Cell colspan="4">Total</Table.Cell>
              <Table.Cell class="text-right">$1,867.50</Table.Cell>
            </Table.Row>
          </Table.Footer>
        </Table.Root>
      </section>
      <section class="flex w-80 flex-col gap-6">
        <Textarea placeholder="Describe your favorite fruit..." />
        <Textarea placeholder="Describe your favorite fruit..." disabled />
      </section>
      <section class="flex gap-8">
        <Toast.Root>
          <Button slot="toast-trigger" color="outline">Add to calendar</Button>
          <Toast.Title>Date Added to Calendar</Toast.Title>
          <Toast.Description>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </Toast.Description>
          <Toast.Actions>
            <Button slot="toast-close" color="ghost" size="sm">Dismiss</Button>
            <Button slot="toast-close" color="primary" size="sm">Undo</Button>
          </Toast.Actions>
        </Toast.Root>
        <Toast.Root color="success">
          <Button slot="toast-trigger">Book Trip</Button>
          <Toast.Title>Success</Toast.Title>
          <Toast.Description>You have successfully booked your trip to the moon.</Toast.Description>
        </Toast.Root>
        <Toast.Root color="warning">
          <Button slot="toast-trigger">Book Trip</Button>
          <Toast.Title>Warning</Toast.Title>
          <Toast.Description>Invalid trip location. Please try again.</Toast.Description>
        </Toast.Root>
        <Toast.Root color="danger">
          <Button slot="toast-trigger">Book Trip</Button>
          <Toast.Title>Error</Toast.Title>
          <Toast.Description>Trip to the moon could not be booked.</Toast.Description>
        </Toast.Root>
      </section>
      <section><!-- Toggle Group --></section>
      <section class="flex items-center gap-6">
        <Tooltip position="top" value="Follow on Twitter">
          <Button size="icon" color="outline"><Twitter /></Button>
        </Tooltip>
        <Tooltip position="bottom" value="Follow on Instagram">
          <Button size="icon" color="outline"><Instagram /></Button>
        </Tooltip>
        <Tooltip position="left" value="Follow on Facebook">
          <Button size="icon" color="outline"><Facebook /></Button>
        </Tooltip>
        <Tooltip position="right" value="Subscribe to Youtube">
          <Button size="icon" color="outline"><Youtube /></Button>
        </Tooltip>
      </section>
    </div>
  </div>
</Layout>
