---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'label'>;

const { class: className, ...props } = Astro.props;
---

<label
  {...props}
  id={crypto.randomUUID()}
  class={twMerge(
    'flex cursor-pointer select-none items-center gap-3 font-medium',
    'peer-disabled:cursor-not-allowed peer-disabled:opacity-50',
    '[&:has([disabled])]:cursor-not-allowed [&:has([disabled])]:opacity-50',
    className,
  )}
>
  <slot />
</label>
