---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import Separator from '../../separator.astro';

type Props = HTMLAttributes<'div'> & { value: string };

const { class: className, value, ...props } = Astro.props;
---

<div
  {...props}
  role="region"
  data-accordion-panel={value}
  data-accordion-expanded="false"
  class={twMerge(
    'overflow-hidden',
    'data-[accordion-expanded="false"]:h-0',
    'data-[accordion-expanded="false"]:animate-expand-up',
    'data-[accordion-expanded="true"]:animate-expand-down',
    className,
  )}
>
  <div class="pb-6"><slot /></div>
</div>
<Separator />
