---
import type { HTMLAttributes } from 'astro/types';
import { ChevronDown } from 'lucide-astro';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'button'> & { for: string; expanded?: boolean };

const { class: className, for: htmlFor, expanded, ...props } = Astro.props;
---

<h3 data-for={htmlFor}>
  <button
    {...props}
    aria-expanded={expanded ? 'true' : 'false'}
    class={twMerge(
      'group flex w-full cursor-pointer select-none list-none items-center justify-between rounded p-3 text-left',
      'hover:bg-muted motion-safe:transition-colors',
      'focus-visible:outline-none focus-visible:ring-1',
      className,
    )}
  >
    <slot />
    <ChevronDown
      size={16}
      aria-hidden
      class="shrink-0 group-aria-expanded:rotate-180 motion-safe:transition-transform"
    />
  </button>
</h3>
