---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'li'>;

const { class: className, ...props } = Astro.props;
---

<li {...props} aria-hidden class={twMerge('select-none px-2', className)}>...</li>
