---
import type { HTMLAttributes } from 'astro/types';
import { ChevronLeft } from 'lucide-astro';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'a'> & { disabled?: boolean };

const { class: className, disabled, ...props } = Astro.props;
---

<li>
  <a
    {...props}
    aria-disabled={disabled}
    aria-label="Previous page"
    class={twMerge(
      'mr-2.5 flex items-center justify-center gap-1 rounded',
      'aria-disabled:cursor-not-allowed aria-disabled:opacity-50',
      'hover:bg-primary/20 aria-disabled:hover:bg-transparent',
      'motion-safe:transition-colors',
      className,
    )}
  >
    <ChevronLeft size={14} class="text-muted" aria-hidden />
    <span>Previous</span>
  </a>
</li>
