---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'p'>;

const { class: className, ...props } = Astro.props;
---

<p {...props} class={twMerge('text-muted mb-6', className)}><slot /></p>
