---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'span'>;

const { class: className, ...props } = Astro.props;
---

<div {...props} class={twMerge('font-medium has-[+p]:mb-0.5', className)}><slot /></div>
