---
import { type HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import { tv, type VariantProps } from 'tailwind-variants';

const variants = tv({
  base:
    'inline-flex items-center justify-center whitespace-nowrap rounded font-medium ' +
    'motion-safe:transition-colors focus-visible:outline-none focus-visible:ring-2',
  defaultVariants: { color: 'primary', size: 'md' },
  variants: {
    disabled: { true: 'opacity-50 cursor-not-allowed' },
    color: {
      primary: 'bg-primary enabled:hover:bg-primary/80 text-primary',
      secondary: 'bg-secondary enabled:hover:bg-secondary/80 text-secondary',
      outline: 'border enabled:hover:bg-primary/20',
      ghost: 'bg-transparent enabled:hover:bg-primary/20',
      danger: 'bg-danger enabled:hover:bg-danger/80 text-danger',
    },
    size: {
      sm: 'h-8 px-3 text-xs',
      md: 'h-9 px-4 text-sm',
      lg: 'h-10 px-8 text-base',
      icon: 'h-8 w-8 [&_svg]:h-4 [&_svg]:w-4',
    },
  },
});

type Props = HTMLAttributes<'button'> & VariantProps<typeof variants>;

const { class: className, disabled, color, size, ...props } = Astro.props;
---

<button
  {...props}
  disabled={disabled}
  class={twMerge(variants({ color, size, disabled }), className)}
>
  <slot />
</button>
