---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = Omit<HTMLAttributes<'div'>, 'role'> & { value: number | string };

const { class: className, value, ...props } = Astro.props;
---

<div
  {...props}
  role="progressbar"
  aria-valuemin="0"
  aria-valuemax="100"
  aria-valuenow={value}
  class={twMerge('relative h-20 w-20', className)}
>
  <svg class="h-full w-full" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
    <circle class="fill-none stroke-primary/20 stroke-2 [cx:15] [cy:15] [r:14]"></circle>
    <circle
      class="origin-center -rotate-90 fill-none stroke-primary stroke-2 [cx:15] [cy:15] [r:14] [stroke-linecap:round]"
      stroke-dasharray={`${2 * Math.PI * 14 * (Number(value) / 100)} ${2 * Math.PI * 14}`}></circle>
  </svg>
  <div class="absolute inset-0 flex items-center justify-center">{value}%</div>
</div>
